.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;
  
  display: grid;
  /* Desktop: Sidebar de 256px + Espaço flexível */
  grid-template-columns: 256px 1fr; 
  gap: 2rem;
  align-items: flex-start;
}

/* --- MÁGICA DA RESPONSIVIDADE (Mobile) --- */
/* Quando a tela for menor que 768px (Tablets e Celulares) */
@media (max-width: 768px) {
  .wrapper {
    /* Muda para 1 coluna apenas */
    grid-template-columns: 1fr; 
  }
  
  /* Diminuímos as margens para aproveitar espaço */
  html {
    font-size: 87.5%; /* Diminui levemente a fonte geral */
  }
}